.css-selector {
	background: linear-gradient(270deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, #fffffc);
	background-size: 1800% 1800%;

	-webkit-animation: overLay1 30s ease infinite;
	-moz-animation: overLay1 30s ease infinite;
	animation: overLay1 30s ease infinite;
}

@-webkit-keyframes overLay1 {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes overLay1 {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes overLay1 {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/* // ============== */

.overlay1 {
	position: relative;
	z-index: 1;
}

.overlay1::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(270deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, #fffffc);
	background-size: 1800% 1800%;

	-webkit-animation: overLay1 30s ease infinite;
	-moz-animation: overLay1 30s ease infinite;
	animation: overLay1 30s ease infinite;
	/* background: #7579ff; */
	/* background: -webkit-linear-gradient(top, #b224ef, #7579ff); */
	/* background: -o-linear-gradient(top, #b224ef, #7579ff); */
	/* background: -moz-linear-gradient(top, #b224ef, #7579ff); */
	/* background: linear-gradient(top, #b224ef, #7579ff); */
	opacity: 0.5;
}

/* // ========== parallax ========== */
#container {
	position: relative;
	height: 100vh;
	width: 100%;
	border: solid 1px red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-slide {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	height: 200px;
	width: 200px;
	background: red;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* // ============ FULLPAGE  */
/* Style for our header texts
	* --------------------------------------- */
h1 {
	font-size: 5em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* Centered texts in each section
	* --------------------------------------- */
.section {
	text-align: center;
	overflow: hidden;
}

#myVideo {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	/* in case the video doesn't fit the whole page*/
	/* background-image: our video; */
	background-position: center center;
	background-size: contain;
	object-fit: cover;
	/*cover video background */
	z-index: 3;
}



/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
#section0 .layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;

	/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
	overflow: hidden;
}


/* Bottom menu
	* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}


/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
video::-webkit-media-controls {
	display: none !important;
}