/* ==========testing =================== */
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Lateef&effect=neon&display=swap');
.test{
    background: url("../assets/bg01.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* body{ */
/*  background-repeat: no-repeat; */
/*  background-attachment: fixed; */
/*  background-size: cover; */
/*  background-position: top; */
/*  background-image:url(https://source.unsplash.com/random); */
/*  width: 100%; */
/*  height: 100%; */
/*  font-family: Arial, Helvetica; */
/*  letter-spacing: 0.02em; */
/*   font-weight: 400; */
/*  -webkit-font-smoothing: antialiased;  */
/* } */
/*  */
.ring-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px 0px 10px 0px;
}
.row{
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}
.inv-text{
  font-family: 'Aref Ruqaa',Lateef, sans-serif;
  font-size: 30px;
	color: #264653;
	display: inline-block;
	font-weight: 100;
	text-align: center;
}

/* =================== */
.css-selector {
	background: linear-gradient(270deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, #fffffc);
	background-size: 1800% 1800%;

	-webkit-animation: overLay1 30s ease infinite;
	-moz-animation: overLay1 30s ease infinite;
	animation: overLay1 30s ease infinite;
}

@-webkit-keyframes overLay1 {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes overLay1 {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes overLay1 {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

/* // ============== */

.overlay1 {
	position: relative;
	z-index: 1;
}

.overlay1::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background: linear-gradient(270deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, #fffffc); */
	background: linear-gradient(270deg, #10002b,#240046,#3c096c,#5a189a,#7b2cbf,#9d4edd,#c77dff,#e0aaff);
	background-size: 1800% 1800%;

	-webkit-animation: overLay1 30s ease infinite;
	-moz-animation: overLay1 30s ease infinite;
	animation: overLay1 30s ease infinite;
	/* background: #7579ff; */
	/* background: -webkit-linear-gradient(top, #b224ef, #7579ff); */
	/* background: -o-linear-gradient(top, #b224ef, #7579ff); */
	/* background: -moz-linear-gradient(top, #b224ef, #7579ff); */
	/* background: linear-gradient(top, #b224ef, #7579ff); */
	opacity: 0.5;
}

/* // ========== parallax ========== */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    background: url("../assets/background.jpg") no-repeat;
    width: 100%;
    overflow: hidden;
    
}
/* .text h1{ */
/*     font-family:  Verdana, sans-serif; */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center; */
/*     padding: 20px; */
/*     color: wheat; */
/*     border: 1px solid rgb(19, 18, 18); */
/*     background: rgb(19, 18, 18); */
/* } */
/* // ============ FULLPAGE  */
/* Style for our header texts
	* --------------------------------------- */
h1 {
	font-size: 5em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* Centered texts in each section
	* --------------------------------------- */
.section {
	text-align: center;
	overflow: hidden;
}

#myVideo {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	/* in case the video doesn't fit the whole page*/
	/* background-image: our video; */
	background-position: center center;
	background-size: contain;
	object-fit: cover;
	/*cover video background */
	z-index: 1;
}



/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
#section0 .layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;

	/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
	overflow: hidden;
}


/* Bottom menu
	* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}


/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
video::-webkit-media-controls {
	display: none !important;
}
/* Glass Card */
.card {
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  /* height: 220px; */
  width: 400px;
  margin: auto;
  /* top: calc(50% - 175px); */
  /* left: calc(50% - 200px); */
  overflow: hidden;
  position: relative;
  background: inherit;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
}
/* Blur BOx */
.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}
